/****** Object:  View [dbo].[vwWeatherDataMaster]    Script Date: 23/04/2021 15:45:25 ******/
DROP VIEW [dbo].[vwWeatherDataMaster]
GO
/****** Object:  View [dbo].[vwWeatherDataMaster]    Script Date: 23/04/2021 15:45:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vwWeatherDataMaster]
AS
SELECT        CONVERT(date, date) AS date, CONVERT(decimal(8, 2), maxtp) AS max_temp, CONVERT(decimal(8, 2), mintp) AS min_temp, CONVERT(decimal(8, 2), wdsp) AS wind_speed, CONVERT(decimal(8, 2), rain) AS rainfall
FROM            dbo.[_stgDAA-Weather]
WHERE        (YEAR(CONVERT(date, date)) IN (2019, 2020, 2021))
GO
