/****** Object:  View [dbo].[vwTrafficFlowMaster]    Script Date: 23/04/2021 15:45:25 ******/
DROP VIEW [dbo].[vwTrafficFlowMaster]
GO
/****** Object:  View [dbo].[vwTrafficFlowMaster]    Script Date: 23/04/2021 15:45:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vwTrafficFlowMaster]
AS
SELECT        Date, Time, BreweryRd, LucanRd, Whitehall
FROM            dbo._stgTrafficFlowDataMaster
GO
