/****** Object:  View [dbo].[vwCSO19LengthOfJourney]    Script Date: 23/04/2021 15:45:25 ******/
DROP VIEW [dbo].[vwCSO19LengthOfJourney]
GO
/****** Object:  View [dbo].[vwCSO19LengthOfJourney]    Script Date: 23/04/2021 15:45:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vwCSO19LengthOfJourney]
AS
SELECT        Statistic, Year, [Age Group], Sex, UNIT, VALUE
FROM            dbo._stgCSO19LengthOfJourney
GO
