/****** Object:  View [dbo].[vwTrafficVolVsWeatherData]    Script Date: 23/04/2021 15:45:25 ******/
DROP VIEW [dbo].[vwTrafficVolVsWeatherData]
GO
/****** Object:  View [dbo].[vwTrafficVolVsWeatherData]    Script Date: 23/04/2021 15:45:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vwTrafficVolVsWeatherData]
AS
select 'Lucan' as Location,
w.[date], w.[max_temp], w.[min_temp], w.[wind_speed], w.[rainfall], 
avg(t.lucanrd) as avg, max(t.lucanrd) as [max], sum(t.lucanrd) as total
from [dbo].[vwWeatherDataMaster] as w
left join [dbo].[vwTrafficFlowMaster] as t on w.[date] = t.[date]
where year(t.[date]) in('2019','2020','2021')
group by w.[date], w.[max_temp], w.[min_temp], w.[wind_speed], w.[rainfall]

union

select 'Brewery Road' as Location,
w.[date], w.[max_temp], w.[min_temp], w.[wind_speed], w.[rainfall], 
avg(t.breweryrd) as avg, max(t.breweryrd) as [max], sum(t.breweryrd) as total
from [dbo].[vwWeatherDataMaster] as w
left join [dbo].[vwTrafficFlowMaster] as t on w.[date] = t.[date]
where year(t.[date]) in('2019','2020','2021')
group by w.[date], w.[max_temp], w.[min_temp], w.[wind_speed], w.[rainfall]

union

select 'Whitehall' as Location,
w.[date], w.[max_temp], w.[min_temp], w.[wind_speed], w.[rainfall], 
avg(t.whitehall) as avg, max(t.whitehall) as [max], sum(t.whitehall) as total
from [dbo].[vwWeatherDataMaster] as w
left join [dbo].[vwTrafficFlowMaster] as t on w.[date] = t.[date]
where year(t.[date]) in('2019','2020','2021')
group by w.[date], w.[max_temp], w.[min_temp], w.[wind_speed], w.[rainfall]

GO
