/****** Object:  Table [dbo].[_stgCSO19CyclingFrequency]    Script Date: 23/04/2021 15:45:25 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[_stgCSO19CyclingFrequency]') AND type in (N'U'))
DROP TABLE [dbo].[_stgCSO19CyclingFrequency]
GO
/****** Object:  Table [dbo].[_stgCSO19CyclingFrequency]    Script Date: 23/04/2021 15:45:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[_stgCSO19CyclingFrequency](
	[Statistic] [varchar](29) NULL,
	[Year] [smallint] NULL,
	[Age Group] [varchar](17) NULL,
	[Sex] [varchar](6) NULL,
	[Frequency] [varchar](43) NULL,
	[UNIT] [varchar](1) NULL,
	[VALUE] [real] NULL
) ON [PRIMARY]
GO
INSERT [dbo].[_stgCSO19CyclingFrequency] ([Statistic], [Year], [Age Group], [Sex], [Frequency], [UNIT], [VALUE]) VALUES (N'Frequency of cycling journeys', 2019, N'18 - 24 years', N'Male', N'At least 5 times a week', N'%', 10.8)
INSERT [dbo].[_stgCSO19CyclingFrequency] ([Statistic], [Year], [Age Group], [Sex], [Frequency], [UNIT], [VALUE]) VALUES (N'Frequency of cycling journeys', 2019, N'18 - 24 years', N'Male', N'3-4 times a week', N'%', 2.1)
INSERT [dbo].[_stgCSO19CyclingFrequency] ([Statistic], [Year], [Age Group], [Sex], [Frequency], [UNIT], [VALUE]) VALUES (N'Frequency of cycling journeys', 2019, N'18 - 24 years', N'Male', N'1-2 times a week', N'%', 4.7)
GO
