/****** Object:  View [dbo].[vwWeatherDataByMonth]    Script Date: 23/04/2021 15:45:25 ******/
DROP VIEW [dbo].[vwWeatherDataByMonth]
GO
/****** Object:  View [dbo].[vwWeatherDataByMonth]    Script Date: 23/04/2021 15:45:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vwWeatherDataByMonth]
AS
SELECT        MONTH(date) AS month_num, YEAR(date) AS year, AVG(max_temp) AS maxtmp, AVG(min_temp) AS mintmp, AVG(wind_speed) AS wndspd, SUM(rainfall) AS total_rain
FROM            dbo.vwWeatherDataMaster
WHERE        (YEAR(date) IN (2019, 2020, 2021))
GROUP BY MONTH(date), YEAR(date)
GO
