/****** Object:  View [dbo].[vwCSO19CyclingFactors]    Script Date: 23/04/2021 15:45:25 ******/
DROP VIEW [dbo].[vwCSO19CyclingFactors]
GO
/****** Object:  View [dbo].[vwCSO19CyclingFactors]    Script Date: 23/04/2021 15:45:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vwCSO19CyclingFactors]
AS
SELECT        Statistic, Year, [Age Group], Sex, Factor, UNIT, VALUE
FROM            dbo._stgCDO19CyclingFactors
GO
