/****** Object:  Table [dbo].[_stgCSO19LengthOfJourney]    Script Date: 23/04/2021 15:45:25 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[_stgCSO19LengthOfJourney]') AND type in (N'U'))
DROP TABLE [dbo].[_stgCSO19LengthOfJourney]
GO
/****** Object:  Table [dbo].[_stgCSO19LengthOfJourney]    Script Date: 23/04/2021 15:45:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[_stgCSO19LengthOfJourney](
	[Statistic] [varchar](33) NULL,
	[Year] [smallint] NULL,
	[Age Group] [varchar](17) NULL,
	[Sex] [varchar](6) NULL,
	[UNIT] [varchar](10) NULL,
	[VALUE] [real] NULL
) ON [PRIMARY]
GO
INSERT [dbo].[_stgCSO19LengthOfJourney] ([Statistic], [Year], [Age Group], [Sex], [UNIT], [VALUE]) VALUES (N'Average length of cycling journey', 2019, N'18 - 24 years', N'Male', N'Kilometres', 4.9)
INSERT [dbo].[_stgCSO19LengthOfJourney] ([Statistic], [Year], [Age Group], [Sex], [UNIT], [VALUE]) VALUES (N'Average length of cycling journey', 2019, N'18 - 24 years', N'Female', N'Kilometres', 5.1)
INSERT [dbo].[_stgCSO19LengthOfJourney] ([Statistic], [Year], [Age Group], [Sex], [UNIT], [VALUE]) VALUES (N'Average length of cycling journey', 2019, N'25 - 34 years', N'Male', N'Kilometres', 9.1)
GO
