/****** Object:  Table [dbo].[_stgCDO19CyclingFactors]    Script Date: 23/04/2021 15:45:25 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[_stgCDO19CyclingFactors]') AND type in (N'U'))
DROP TABLE [dbo].[_stgCDO19CyclingFactors]
GO
/****** Object:  Table [dbo].[_stgCDO19CyclingFactors]    Script Date: 23/04/2021 15:45:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[_stgCDO19CyclingFactors](
	[Statistic] [varchar](64) NULL,
	[Year] [smallint] NULL,
	[Age Group] [varchar](17) NULL,
	[Sex] [varchar](6) NULL,
	[Factor] [varchar](49) NULL,
	[UNIT] [varchar](1) NULL,
	[VALUE] [real] NULL
) ON [PRIMARY]
GO
INSERT [dbo].[_stgCDO19CyclingFactors] ([Statistic], [Year], [Age Group], [Sex], [Factor], [UNIT], [VALUE]) VALUES (N'Factors that would encourage persons to cycle more in the future', 2019, N'18 - 24 years', N'Male', N'Shorter journey destinations', N'%', 14.5)
INSERT [dbo].[_stgCDO19CyclingFactors] ([Statistic], [Year], [Age Group], [Sex], [Factor], [UNIT], [VALUE]) VALUES (N'Factors that would encourage persons to cycle more in the future', 2019, N'18 - 24 years', N'Male', N'Easier access to wet weather clothing', N'%', 5.4)
INSERT [dbo].[_stgCDO19CyclingFactors] ([Statistic], [Year], [Age Group], [Sex], [Factor], [UNIT], [VALUE]) VALUES (N'Factors that would encourage persons to cycle more in the future', 2019, N'18 - 24 years', N'Male', N'Access to changing facilities at destinations', N'%', 3.2)
GO
