/****** Object:  View [dbo].[vwCSOAllCyclingStats2019]    Script Date: 23/04/2021 15:45:25 ******/
DROP VIEW [dbo].[vwCSOAllCyclingStats2019]
GO
/****** Object:  View [dbo].[vwCSOAllCyclingStats2019]    Script Date: 23/04/2021 15:45:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vwCSOAllCyclingStats2019]
AS
/****** Script for SelectTopNRows command from SSMS  ******/ SELECT TOP (1000) [statistic], [year], [age group], [sex], [unit], [value], [Factor], '' AS Frequency
FROM            [dbo].[_stgcdo19cyclingfactors]
UNION
SELECT        TOP (1000) [statistic], [year], [age group], [sex], [unit], [value], '' AS Factor,  Frequency
FROM            [dbo].[_stgcso19cyclingfrequency]
UNION
SELECT        TOP (1000) [statistic], [year], [age group], [sex], [unit], [value], '' AS Factor, '' AS Frequency
FROM            [dbo].[_stgcso19lengthofjourney]
GO
