/****** Object:  Table [dbo].[tblCovidLockdowns]    Script Date: 23/04/2021 15:45:25 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[tblCovidLockdowns]') AND type in (N'U'))
DROP TABLE [dbo].[tblCovidLockdowns]
GO
/****** Object:  Table [dbo].[tblCovidLockdowns]    Script Date: 23/04/2021 15:45:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblCovidLockdowns](
	[Id] [int] NULL,
	[LockDownDate] [date] NULL,
	[LockDownEndDate] [date] NULL,
	[Name] [nchar](10) NULL
) ON [PRIMARY]
GO
