/****** Object:  Table [dbo].[stg2021_Traffic_All3locs_Q1only]    Script Date: 23/04/2021 15:45:25 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[stg2021_Traffic_All3locs_Q1only]') AND type in (N'U'))
DROP TABLE [dbo].[stg2021_Traffic_All3locs_Q1only]
GO
/****** Object:  Table [dbo].[stg2021_Traffic_All3locs_Q1only]    Script Date: 23/04/2021 15:45:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[stg2021_Traffic_All3locs_Q1only](
	[Date] [datetime] NULL,
	[Time] [datetime] NULL,
	[BreweryRd] [smallint] NULL,
	[LucanRd] [smallint] NULL,
	[Whitehall] [smallint] NULL
) ON [PRIMARY]
GO
